<!DOCTYPE html>
<html>
  <head>
    <title>Clinic Tracker</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Clinic Tracker</h1>
      <p>This is a simple Express REST API + Views project.</p>
      <a class="btn" href="/api/patients/">View Patients</a>
    </div>
  </body>
</html>
